body{
    background-color: #b5f4ff;
}
header{
    background-color: #007bff;
}
nav a {
    color: white;
    text-decoration: none;
}
a:hover {
    color: aquamarine;
}
h1{
    font-family: helvetica, serif;
}
#contenido h2{
    padding: 10px;
    font-size: x-large;
}
#contenido p{
    font-size: 16px;
    color: darkblue;
}
footer{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 3px;

}
